*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: #312A4E;
  background-color: var(--accent-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: #F3EFEC;

  --main-font: STIX Two Text, sans-serif;
  --accent-font: Raleway, sans-serif;
}

.theme_dark {
background-color: var(--bg-color);
color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__text-block_type_first-lettered>.content__paragraph:first-of-type::first-letter {
  display: inline-block;
  margin: 0 1px 0 0;
  padding: 0 4px;
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  background-color: var(--accent-color);
}

.theme_dark .content__text-block_type_first-lettered>.content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.content__text-block>.content__paragraph:not(:last-of-type) {
  margin: 0 0 1.5em;
}

.content__card-image {
  inline-size: 100%;
}

.header__title {
  font-family: var(--main-font);
  font-size: 120px;
  line-height: 90%;
}

.header__second-title {
  font-family: var(--main-font);
  font-size: 30px;
  line-height: 90%;
  padding-top: 145px;
}

.header__text {
 padding-left: 120px;
 padding-right: 6px;
 font-family: var(--accent-font);
 font-size: 18px;
}