*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: #312A4E;
  background-color: var(--accent-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

:root {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: #F3EFEC;

  --main-font: STIX Two Text, sans-serif;
  --accent-font: Raleway, sans-serif;
}

body {
  font-family: var(--accent-font);
  font-size: 18px;
}

.theme_dark {
background-color: var(--bg-color);
color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.2%;
  margin-bottom: 2.5%;
  padding-top: 64px;
}

.content__text-block_type_first-lettered>.content__paragraph:first-of-type::first-letter {
  display: inline-block;
  margin: 0 1px 0 0;
  padding: 0 4px;
  font-weight: 700;
  font-size: 30px;
  line-height: normal;
  background-color: orange;
  letter-spacing: 30%;
}

.theme_dark .content__text-block_type_first-lettered>.content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.content__text-block>.content__paragraph:not(:last-of-type) {
  margin: 0 0 1.5em;
}

.content__card-image {
  inline-size: 100%;
}

.header__title {
  font-family: var(--main-font);
  font-size: clamp(3.75rem, 2.4519rem + 5.7692vw, 7.5rem);
  line-height: 90%;
  text-align: center;
}

.header__second-title {
  font-family: var(--main-font);
  font-size: 30px;
  line-height: 90%;
  padding-top: 145px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.4%;
  margin-top: 40px;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  width: 100%;
}

.header__logo {
  margin-left: calc();
}

  .header__theme-toggler {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 35px;
  margin-top: 5px;
}

.header__theme-button {
  margin: 0;
  border: none;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-button:hover:not(.header__theme-button_is-active) {
  text-decoration: underline;
  text-decoration-color: rgba(49, 42, 78, 0.50);
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 600;
  pointer-events: none;
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.content__title {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 600;
}

.content__paragraph {
  max-width: 1300px;
  min-width: 360px;
}

.content__text-block {
  margin-top: 28px;
}

.sec{
  margin-top: 85px
}

.content__card-image {
  margin-top: 91px;
}

.image__subtext {
  padding-top: 20px;
}

.image__subtext-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #000;
}